---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Home theater and home automation made easy for the Willamette valley"
	pubDate={new Date('2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Starting back in 2018, the passion for excellence in quality and finish was established in home electronics installation and setup. After seven years RMI Services LLC was established as its own business to better serve the community with electronics for home installation.  
	</p>


</Layout>
